* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  padding: 2em;
  border-style: none;
}

.card .card-body {
  background-color: #677798;
  border-radius: 1em;
  gap: 2em;
  -webkit-box-shadow: 8px 0px 100px 34px #90ace1;
  -moz-box-shadow: 8px 0px 100px 34px #90ace1;
  box-shadow: 8px 0px 100px 34px #90ace1;
}
