<a href="#" class="list-group-item clearfix" 
    >
    <p>Poodle</p>
</a>


<!-- <ul class="list-group">
    <li class="list-group-item">An  item <button class="btn btn-success">Delete</button></li>
    <li class="list-group-item">A second item <button class="btn btn-success">Delete</button></li>
    <li class="list-group-item">A third item <button class="btn btn-success">Delete</button></li>
    <li class="list-group-item">A fourth item <button class="btn btn-success">Delete</button></li>
    <li class="list-group-item">And a fifth one <button class="btn btn-success">Delete</button></li>
  </ul> -->