ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      font-size: 1.1rem;
      //text-transform: uppercase;
    }
    a:hover {
      color: #f05454;
    }
  }
}
.active-link {
  text-decoration: red wavy underline;
}
