<div class="container" *ngIf="busStopSelected">
  <ul
    class="list-group list-group-horizontal"
    *ngIf="busArrivalsData.length > 0; else noDepartures"
  >
    <li *ngFor="let departure of busArrivalsData" class="list-group-item">
      {{ departure.time }} - {{ departure.line }}
    </li>
  </ul>
</div>
<ng-template #noDepartures>
  <div class="no-departures">
    <p>
      There're currently no departures for the selected bus stop. <br />
      Please check <a href="https://www.mzk.zgora.pl/">mzk.zgora.pl</a> for more
      informations. <br />
      We apologize for the inconvenience.
    </p>
  </div>
</ng-template>
