
.card-body {
 max-width: 650px;
 padding: 5%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 1px solid black;
 border-radius: 5px;
 background-color: indigo;

background-image: url("/assets/jpg/Chuck_Norris_smile.jfif" );
background-repeat: repeat;
background-size: 100%;




 

 .twoIcon {
    width: 78%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    
    
}
    .card-img-top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background-color: azure;
        
    }
    
    .bodyImg {
        display: flex;
        flex-direction: block;
        justify-content: center;
        border: 1px solid black;
        border-radius: 15px;
        background-image: linear-gradient(#D7E9B9, #FAAB78);
        padding: 15px;
        max-width: 400px;
        
       
        
        .paragrafMem {
            max-width: 370px;
            margin: 14px;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    
  
    .buttonDiv {
        min-width: 300px;
        display: flex;
        justify-content: center;
        margin-top: 55px;
      

        .buttonDiv {
            margin-right: 15px;
            color:  linear-gradient(90deg,  rgba(9,9,121,1) 5%, rgba(0,212,255,1) 100% );
        }
    }

    .btn-primary {
        background-color:  linear-gradient(90deg,  rgba(9,9,121,1) 5%, rgba(0,212,255,1) 100% );
        color: linear-gradient(90deg,  rgba(9,9,121,1) 5%, rgba(0,212,255,1) 100% ) ;
        padding: 10px;
        padding-left: 22px;
        padding-right: 22px;
        
        .img {
            padding-right: 5px;
        }
        
        
    }
 
}

