<div class="card" *ngIf="selectedFavCrypto">
  <div class="card-title">
    <h1>Your fav crypto is: {{ selectedFavCrypto.name }}</h1>
    <p class="card-text">Go to admin panel to set your favourite crypto</p>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-8">Exact price</dt>
      <dd class="col-sm-4">
        ${{ selectedFavCrypto.priceUsd | number : "1.5-9" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Quantity of trading volume/24h</dt>
      <dd class="col-sm-4">
        {{ selectedFavCrypto.volumeUsd24Hr | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Volume weighted average price/24h</dt>
      <dd class="col-sm-4">
        {{ selectedFavCrypto.vwap24Hr | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Market cap</dt>
      <dd class="col-sm-4">
        {{ selectedFavCrypto.marketCapUsd | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Supply</dt>
      <dd class="col-sm-4">
        {{ selectedFavCrypto.supply | number : "1.0-0" }}
      </dd>

      <hr *ngIf="selectedFavCrypto.maxSupply" />

      <dt class="col-sm-8" *ngIf="selectedFavCrypto.maxSupply">Max supply</dt>
      <dd class="col-sm-4">
        {{ selectedFavCrypto.maxSupply | number : "1.0-0" }}
      </dd>
    </dl>
  </div>
</div>
