<!-- <div class="card">
  <div class="card-body">
    <app-header [title]="maintitle"> </app-header>
  </div>
  <hr />
  <button (click)="navigateToCurrency()">Other currency</button>
  <a [routerLink]="['']">The exchange page</a>
  <a [routerLink]="['currency/admin']">Currency Admin</a>

  <router-outlet></router-outlet>

  <app-currencies [exchange]="exchange"> </app-currencies>
</div> -->

<div class="card">
  <div class="card-body">
    <button class="currencyPanel" (click)="navigateToCurrency()">
      Currency panel
    </button>
    <button class="adminPanel" (click)="navigateToCurrency2()">
      Admin panel
    </button>

    <router-outlet></router-outlet>
  </div>
</div>
