<div class="card text-dark bg-info mb-3">
  <div class="card-header">
    Admin panel<a [routerLink]="['/']"
      ><img
        class="exitImg float-end"
        src="https://cdn-icons-png.flaticon.com/512/1828/1828665.png"
        alt="Exit panel"
    /></a>
  </div>

  <div class="card-body">
    <h5 class="card-title">Here you can set your preferences</h5>
    <div class="mb-3">
      <form [formGroup]="form" (ngSubmit)="onAccept()">
        <label for="name" class="form-label"
          >Select your favourite crypto:
        </label>
        <select
          name="cryptoSelect"
          class="form-select"
          formControlName="cryptos"
        >
          <option
            *ngFor="let crypto of crypto; index as i"
            [ngValue]="crypto.id"
          >
            {{ i + 1 }}.{{ crypto.name }}
          </option>
        </select>
        <span
          *ngIf="form.get('cryptos')!.touched !== form.get('cryptos')!.dirty"
          class="help-block"
          >You forgot to selected a crypto!</span
        >
        <div class="buttons">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="form.get('cryptos')!.pristine"
          >
            Accept
          </button>
          <button
            class="btn btn-danger float-end"
            type="button"
            (click)="onDecline()"
          >
            Decline
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
