<div class="card text-dark bg-info mb-3">
  <div class="card-header">
    Admin panel<img
      class="exitImg float-end"
      src="https://cdn-icons-png.flaticon.com/512/1828/1828665.png"
      alt="Exit panel"
      [routerLink]="['/']"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">Here you can set your preferences</h5>
    <div class="mb-3">
      <form [formGroup]="form">
        <label for="name" class="form-label"
          >Select your favourite crypto:
        </label>
        <select
          name="cryptoSelect"
          [(ngModel)]="cryptoSelect"
          class="form-select"
          formControlName="cryptos"
        >
          <option *ngFor="let crypto of crypto; index as i" [ngValue]="crypto">
            {{ i + 1 }}.{{ crypto.name }}
          </option>
        </select>
        <p>Form Value: {{ form.value | json }}</p>
        <button class="btn btn-success" (click)="onAccept(form.value)">
          Accept
        </button>
        <button class="btn btn-danger float-end" (click)="onDecline()">
          Decline
        </button>
      </form>
    </div>
  </div>
</div>
