<div class="card text-dark bg-info mb-3">
  <div class="card-header">
    Admin panel<img
      class="exitImg float-end"
      src="https://cdn-icons-png.flaticon.com/512/1828/1828665.png"
      alt="Exit panel"
      [routerLink]="['/']"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Here you can set your preferences</h5>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Enter your name</label>
      <input
        #input
        type="text"
        class="form-control name"
        placeholder="Your name"
        aria-label="Name"
      />
      <button class="btn btn-success" (click)="onAccept(input.value)">
        Accept
      </button>

      <button class="btn btn-danger float-end" [routerLink]="['/']">
        Decline
      </button>
    </div>
  </div>
</div>
