<ul class="nav navigation">
  <div class="nav">
    <li class="nav-item">
      Admin panel
    </li>
  </div>
  <div>
    <a routerLink=""><img src="assets/img/reject.png" alt="admin panel" class="icon" /></a>
  </div>
</ul>
<hr />

<form [formGroup]="catForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <select class="custom-select mb-3" formControlName="idCat">
      <option value="">Select breed</option>
      <option *ngFor="let breed of breedsCats" value={{breed.id}}>
        {{ breed.id }}
      </option>
    </select>

    <span *ngIf="idCat?.invalid && idCat!.touched">
      Please select a cat id
    </span>

    <br/>
    <label for="inputCat">Enter a cat ID</label>
    <br/>
    <input type="text" id="inputCat" formControlName="inputCat">

    <span *ngIf="inputCat?.invalid && inputCat!.touched">
      Please enter a cat id
    </span>

  </div>

  <button type="submit" class="btn btn-light" [disabled]="catForm.invalid">
    Submit
  </button>

</form>