<ul class="nav navigation">
  <div class="nav">
    <li class="nav-item">
      Admin panel
    </li>
  </div>
  <div>
    <a routerLink="/cat/breeds"><img src="/assets/img/reject.png" alt="admin panel" class="icon" /></a>
  </div>
</ul>
<hr />

<form [formGroup]="catForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <label for="idCat">Set as default</label>
    <input type="text" id="idCat" formControlName="idCat" class="form-control">

    <span *ngIf="!catForm.get('idCat')!.valid && catForm.get('idCat')!.touched" class="help-block">
      Please enter a cat id
    </span>

  </div>

  <button type="submit" class="btn btn-light" [disabled]="catForm.invalid">
    Submit
  </button>
</form>