<div class="card" *ngIf="crypto.length > 0">
  <div class="card-body">
    <h5 class="card-title">
      More infromation on: {{ crypto[selectedCrypto].name }} /
      {{ crypto[selectedCrypto].symbol }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      If you want to learn more about a crypto, just click the more info button
    </h6>

    <dl class="row">
      <dt class="col-sm-8">Quantity of trading volume/24h</dt>
      <dd class="col-sm-4">
        {{ crypto[selectedCrypto].volumeUsd24Hr | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Volume weighted average price/24h</dt>
      <dd class="col-sm-4">
        {{ crypto[selectedCrypto].vwap24Hr | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Market cap</dt>
      <dd class="col-sm-4">
        {{ crypto[selectedCrypto].marketCapUsd | currency : "USD" }}
      </dd>

      <hr />

      <dt class="col-sm-8">Supply</dt>
      <dd class="col-sm-4">
        {{ crypto[selectedCrypto].supply | number : "1.0-0" }}
      </dd>

      <hr *ngIf="crypto[selectedCrypto].maxSupply !== null" />

      <dt class="col-sm-8" *ngIf="crypto[selectedCrypto].maxSupply !== null">
        Max supply
      </dt>
      <dd class="col-sm-4">
        {{ crypto[selectedCrypto].maxSupply | number : "1.0-0" }}
      </dd>
    </dl>
  </div>
</div>
