<!-- <app-header></app-header> -->
<a (click)="navigateToMainPage()" ><img src="https://th.bing.com/th/id/OIP.CnFyiSGurDTUC2qcCsCDEgHaFX?pid=ImgDet&rs=1" width="30px" alt="Internet errror"></a>


<div class="ui segment">
  Admin panel category {{user.category}} and id {{user.id}}
</div>

<div class="ui segment">

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="categoryName" for="categoryName">Category</label>
      <input
        type="text"
        id="categoryName"
        name="categoryName"
        class="form-control"
        formControlName="categoryName"
        >
        <span class="help-block"
            *ngIf="signupForm.get('categoryName')?.errors?.['nameIsForbidden'] && signupForm.touched"
            > Please enter valid category name: 
            animal, career, celebrity, dev, explicit, fashion, food, history, money, movie, music, political, religion, science, sport, travel </span>
<br>
<br>

          <span class="help-block"
              *ngIf="signupForm.get('categoryName')?.errors?.['noSpaceAllowed']">
                  Category name cannot contain space 
        </span>

       
        
    </div>
    <button 
    class="btn btn-primary" type="submit"
    [disabled]="signupForm.get('categoryName').invalid   "
    
    >Save</button>
    <br>
  
  </form>



</div>
