.upcoming-weather-component {
    display: flex;
    justify-content: space-around;


    :hover {
        cursor: pointer;
    }

    .upcoming-weather {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        font-size: 1.5rem;

        img {
            margin: 0;
            padding: 0;
            max-height: 3rem;
        }
    }

    button {
        background: none;
        border: none;

        img {
            max-height: 2rem;
        }
    }
}