.upcoming-weather-component {
    display: flex;
    justify-content: space-around;
    padding: .25em 1em;
    transition: .5s;

    .upcoming-weather {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        font-size: 1.5rem;

        img {
            margin: 0;
            padding: 0;
            max-height: 3rem;
        }
    }

    button {
        background: none;
        border: none;

        img {
            max-height: 2rem;
        }
    }
}

.upcoming-weather-component:hover {
    box-shadow: 0 0 1rem #616451;
    cursor: pointer;
}