<div class="upcoming-weather-component" *ngFor="let weather of weatherData.daily.time; index as i">
    <ul class="upcoming-weather">
        <li class="upcoming-date"> {{ weatherData.daily.time[i] | date:'EEEE, d.MM' }}</li>
        <li><img src="../assets/thermometer.png" alt=""/></li>
        <li class="upcoming-temperature"> {{ weatherData.daily.temperature_2m_max[i] | number: '1.0-0' }} °C</li>
    </ul>
    <button (click)="onShowDetails('The details will be available soon')" class="more-info">
        <img src="../assets/caret-circle-right.png" alt=""/>
    </button>
</div>
