<div class="current-weather-component">
    <div class="current-weather">
        <img src="../assets/cloud-sun.png" alt=""/>
        <div class="current-temperature">{{ weatherData.daily.temperature_2m_max[selectedDay] | number: '1.0-0' }} °C</div>
    </div>
        <div class="current-city">{{ cities[selectedCity] }}</div>
    <div class="current-date">{{ weatherData.daily.time[selectedDay] | date:'EEEE, d MMMM' }}</div>
    <ul class="current-weather-details">
        <li><img src="../assets/sun-horizon.png" alt=""/>{{ weatherData.daily.sunrise[selectedDay] | date:'h:mm a' }}</li>
        <li><img src="../assets/moon-stars.png" alt=""/>{{ weatherData.daily.sunset[selectedDay] | date:'h:mm a'}}</li>
        <li><img src="../assets/thermometer-cold (1).png" alt=""/>{{ weatherData.daily.temperature_2m_min[selectedDay] | number: '1.0-0' }} °C</li>
        <li><img src="../assets/cloud-rain.png" alt=""/>{{ weatherData.daily.precipitation_sum[selectedDay] }}</li>
    </ul>
</div>
