<div class="card">
  <p>Meme category: {{ categoryChanged }}</p>

  <select
    type="string"
    #selectedMemRef
    class="form-select form-select-sm"
    aria-label=".form-select-sm example"
    (change)="onCategorySelected(selectedMemRef.value)"
    [(ngModel)]="categoryChanged" 
    
    
  >
    <option value="">random</option>
    <option
      *ngFor="let singleCategoryName of listOfCategories$ | async; index as i"
      [value]="singleCategoryName"
      
    >
      {{ singleCategoryName }}
    </option>
  </select>
</div>
