.card {
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  padding: 6px;
  background: linear-gradient(90deg, #090979 5%, #00d4ff 100%);
}

.card p {
  padding-top: 14px;
}

.card .form-select-sm {
  background-color: inherit;
  border: none;
  width: 30%;
}
