<strong class="d-inline-block mb-2 text-success">Name</strong>
<img src="https://cdn2.thecatapi.com/images/be0.jpg" alt="" class="img-fluid">
<p class="mb-auto text-center">The the golden eyes and the shiny black coa of the Bopmbay is absolutely striking. Likely to bond most with one family member, the Bombay will follow you from room to room and will almost always have something to say about what you are doing, loving attention and to be carried around, often on his caregiver's shoulder.</p>
<hr>
<div class="text-center">
<p>Affectionate, Dependent, Gentle, Intelligent, Playful</p>
<p>3 - 5 kgs</p>
<p>12 - 16 average life span</p>
</div>