.amount-from-to {
  display: flex;
  gap: 10px;
}

.header {
  background-color: rgb(107, 61, 61);
  padding: 20px;
  border-radius: 1cqb;
}

hr {
  color: white;
}

.btn-secondary {
  background-color: rgb(223, 180, 177);
  color: rgb(107, 61, 61);
  font-weight: bold;
  width: 80px;
}

.converterofcurrency {
  margin-left: 30px;
}
