<div class="container-fluid">
    <div class="p-5 mb-5">
        <section>
            <div class="row mb-5">
                <div class="col">
                    <h1>Widgets Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Weather</h5>
                    <app-weather></app-weather>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Exchange rates</h5>
                    <app-exchange></app-exchange>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Crypto rates</h5>
                    <app-crypto></app-crypto>
                </div>




                <div class="col-lg-6 col-md-12 mb-4"> 
                        <router-outlet></router-outlet>
                </div>




                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Dogs</h5>
                    <app-dogs></app-dogs>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Game of Thrones</h5>
                    <app-got></app-got>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5>Busses</h5>
                    <app-buses></app-buses>
                </div>
            </div>
        </section>
    </div>
</div>