<div class="container-fluid">
    <div class="p-5 mb-5">
        <section>
            <div class="row mb-5">
                <div class="col">
                    <h1>Widgets Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-uppercase small mb-2">
                                <strong>USERS</strong>
                            </p>
                            <h5 class="mb-0">
                                <strong>14 567</strong>
                                <small class="text-success ms-2">
                                    <i class="fas fa-arrow-up fa-sm pe-1"></i>13,48%</small>
                            </h5>

                            <hr />

                            <p class="text-uppercase text-muted small mb-2">
                                Previous period
                            </p>
                            <h5 class="text-muted mb-0">11 467</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-uppercase small mb-2">
                                <strong>PAGE VIEWS</strong>
                            </p>
                            <h5 class="mb-0">
                                <strong>51 354 </strong>
                                <small class="text-success ms-2">
                                    <i class="fas fa-arrow-up fa-sm pe-1"></i>23,58%</small>
                            </h5>

                            <hr />

                            <p class="text-uppercase text-muted small mb-2">
                                Previous period
                            </p>
                            <h5 class="text-muted mb-0">38 454</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-uppercase small mb-2">
                                <strong>AVERAGE TIME</strong>
                            </p>
                            <h5 class="mb-0">
                                <strong>00:04:20</strong>
                                <small class="text-danger ms-2">
                                    <i class="fas fa-arrow-down fa-sm pe-1"></i>23,58%</small>
                            </h5>

                            <hr />

                            <p class="text-uppercase text-muted small mb-2">
                                Previous period
                            </p>
                            <h5 class="text-muted mb-0">00:05:20</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-uppercase small mb-2">
                                <strong>BOUNCE RATE</strong>
                            </p>
                            <h5 class="mb-0">
                                <strong>32.35%</strong>
                                <small class="text-danger ms-2">
                                    <i class="fas fa-arrow-down fa-sm pe-1"></i>23,58%</small>
                            </h5>

                            <hr />

                            <p class="text-uppercase text-muted small mb-2">
                                Previous period
                            </p>
                            <h5 class="text-muted mb-0">24.35%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>