<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">Breed list</strong>
          <ul class="list-group list-group-flush">
          
            <app-breed-list [breeds]="listOfBreeds"></app-breed-list>
            
          </ul>
        </div>
      </div>
</div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

            <app-breed-description></app-breed-description>
          
        </div>
      </div>
    </div>
  </div>

