$text-color: #79aabf;
$light-text-color: #e6a6a6;
$background-beige: #EAE0DA;
$background-yellow-beige: #F7F5EB;
$text: #494949;

.title {
    color: $text-color;
}
.lista { 
    margin-top: 0.3rem;
    max-height: 450px;
    overflow-y: auto;
  
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $light-text-color #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $light-text-color;
    border-radius: 10px;
    border: 4px solid #ffffff;
  }