::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e0f1ff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fce0a1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .list-group {
  flex-wrap: wrap;
  height: 200px;
  gap: 0.5em;
}

.container .list-group .list-group-item {
  background-color: #90ace1;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  width: 19ch;
  border-radius: 5px;
}

.container .list-group .list-group-item .list-group-item-hover .list-group-item:hover {
  background-color: #f5f5f5;
}
