$text-color: #79aabf;
$light-text-color: #e6a6a6;
$background-beige: #EAE0DA;
$background-yellow-beige: #F7F5EB;


.nav-link {
    cursor: pointer;
    color: $text-color;
    text-decoration: solid;
}
.nav-link:hover{
    color:$light-text-color;
}