$text-color: #79aabf;
$light-text-color: #e6a6a6;
$background-beige: #EAE0DA;
$background-yellow-beige: #F7F5EB;


.nav-link {
    cursor: pointer;
    color: $text-color;
    text-decoration: solid;
}
.nav-link:hover{
    color:$light-text-color;
}

.icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
}
.icon:hover {
    height: 22px;
    width: 22px;
}

.navigation {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}