<button class="btn btn-danger" (click)="navigateToHome()">Back</button>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="number">Choose a number (0-9)</label>
          <input
            type="number"
            id="number"
            formControlName="number"
            class="form-control"
          />
          <span
            *ngIf="
              !signupForm.get('number')!.valid &&
              signupForm.get('number')!.touched
            "
            class="help-block"
            >Please enter a number!</span
          >
          <span class="help-block" *ngIf="signupForm.get('number')!.value > 9"
            >Please enter a number from range 0 to 9</span
          >
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!signupForm.valid || signupForm.get('number')!.value > 9"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
