ul {
  list-style-type: none;
}

.pairs {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  gap: 5px;
}

td {
  border: 1px solid black;
  padding: 5px;
  border-radius: 1cqb;
  cursor: pointer;
  background-color: rgb(155, 146, 146);
}

td:hover {
  background-color: rgb(180, 158, 158);
  color: black;
  font-weight: bold;
}

.card {
  background-color: rgb(51, 19, 19);
}

table {
  background-color: rgb(143, 128, 128);
  margin: 20px;
  border-radius: 1cqb;
}
