<div class="card">
  <!-- <div class="row">
    <div class="col-md-5">
      <app-currency-list
        *ngIf="selectedCurrency; else infoText"
      ></app-currency-list>
      <ng-template #infoText>Please select the currency</ng-template>
    </div>
  </div> -->
  <!-- 
  <button (click)="setSelectedCurrency(0)">WALUTA 1</button>
  <button (click)="setSelectedCurrency(1)">WALUTA 2</button>
  <button (click)="setSelectedCurrency(2)">WALUTA 3</button>
  <button (click)="setSelectedCurrency(3)">WALUTA 4</button>
  <button (click)="setSelectedCurrency(4)">WALUTA 5</button> -->

  <div class="pairs">
    <div
      class="item"
      *ngFor="let pairs of exchange | slice : 0 : 10; let i = index"
      (click)="setSelectedCurrency(i)"
    >
      {{ pairs.currencyFrom }}
      -
      {{ pairs.currencyTo }}
    </div>
  </div>
</div>
