.form-select {
  width: 140px;
}

.btn-primary {
  width: 140px;
}
.help-block {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: yellow;
}
