<div class="register-form">
  <br />
  <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <select
          name="currencySelect"
          class="form-select"
          formControlName="pairs"
        >
          <option
            class="item"
            *ngFor="let pairs of exchange | slice : 0 : 10; let i = index"
            [ngValue]="pairs"
          >
            {{ pairs.currencyFrom }}
            -
            {{ pairs.currencyTo }}
          </option>
        </select>
        <span
          *ngIf="
            !currencyForm.get('pairs')!.valid &&
            currencyForm.get('pairs')!.touched
          "
          class="help-block"
          >Please select the currencies!</span
        >
      </div>

      <br />
      <div class="col-auto my-1">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
