<form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <div class="weather-admin">
        <div class="close">
            <a [routerLink]="['/']"><img src="../assets/x.png" alt=""/></a>
        </div>
        <img src="../assets/cloud-sun.png" alt=""/>
        <label for="city">Check the weather for...</label>
            <div class="select-city">
                <select id="city" formControlName="city">
                    <option *ngFor="let city of cities; index as i" value="{{ i }}">{{ cities[i] }}</option>
                </select>
                <span class="span-city" *ngIf="!adminForm.get('city')?.valid && adminForm.get('city')?.touched">Please, select a city name!</span>
            </div>
        <label for="units">Select Units</label>
            <div class="select-units">
                <img src="../assets/thermometer.png" alt=""/>
                <select id="units" formControlName="unit">
                    <option value="C">C</option>
                </select>
            </div>
        <span class="span-units" *ngIf="!adminForm.get('unit')?.valid && adminForm.get('unit')?.touched">Please, select units!</span>
        <button class="button-submit" type="submit" [disabled]="!adminForm.valid">Submit</button>
    </div>
</form>
