<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="weather-admin">
        <img src="../assets/cloud-sun.png" alt=""/>
        <label for="city">Type a City Name</label>
        <input type="text" id="city" placeholder="Check the weather for..." [ngModel]=" 'Kraków' " name="city" required>
        <label for="units">Select Units</label>
        <div>
        <img src="../assets/thermometer.png" alt=""/><select id="units" [ngModel]=" 'C' " name="units">
            <option value="C">C</option>
            <option value="F">F</option>
        </select>
        </div>
        <button class="button-submit" type="submit" [disabled]="!f.valid">Submit</button>
    </div>
</form>
