.weather-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 1em;
    }

    img {
        margin: 0;
        padding: 0;
        max-height: 10rem;
    }

    label {
        margin-bottom: .5em;
    }

    input,
    select,
    button {
        margin: 0 0 .5em 0;
        padding: .2em .5em;
    }

    label, 
    button {
        font-size: 1rem;
    }

    input,
    select,
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: .5rem;
        background: none;
        color: #e4e4d8;
        font-size: 2rem;
    }

    button:hover {
        box-shadow: 0 0 .5rem #616451;
    }

    input, select {
        box-shadow: 0 0 .5rem #616451;
    }

    .button-submit {
        margin: 0;
        font-weight: bold;
    }

    .select-city {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            justify-content: center;
            color:  #9a7852;
            font-weight: bold;
        }
    }

    .select-units {
        display: flex;
        align-items: center;
        gap: .5em;
        margin-bottom: 2em;

        select,
        option {
            margin: 0;
            font-weight: bold;

            option {
                background-color: #9fab95;
                border: none;
            }
        }

        img {
            margin: 0;
            padding: 0;
            max-height: 4rem;
        }
    }
}