.weather-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin: 0;
        padding: 0;
        max-height: 10rem;
    }

    label {
        margin-bottom: .5em;
    }

    input,
    button {
        margin: 0 0 1em 0;
        padding: .2em .5em;
    }

    h5, 
    button {
        font-size: 1rem;
    }

    input,
    button {
        border: none;
        border-radius: .5rem;
        background: none;
        color: #e4e4d8;
        font-size: 2rem;
    }

    button:hover {
        box-shadow: 0 0 .5rem #616451;
    }

    input {
        box-shadow: 0 0 .5rem #616451;
    }

    .button-submit {
        margin: 0;
    }

    button {
        img {
            margin: 0;
            padding: 0;
            max-height: 3rem;
        }

        font-weight: bold;
    }
}