<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="defaultBusStop">Choose the ID of your default bus stop:</label>
            <input
              type="select"
              id="defaultBusStop"
              class="form-control"
              [(ngModel)]="defaultBusStop"
              name="defaultBusStop"
            />
          </div>
        </div>
        <a (click)="onSubmit(f)">
          <img
            src="https://img.icons8.com/bubbles/256/checked-checkbox.png"
            alt="Icon of settings"
            width="75px"
          />
        </a>
      </form>
    </div>
  </div>
</div>

