<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div id="user-data">
          <div class="form-group">
            <label for="defaultBusStop">Choose your default bus stop:</label>
            <select
              id="defaultBusStop"
              class="form-control"
              name="defaultBusStop"
              (change)="onSelectBusStop($event)"
            >
              <option value="">-- Select a bus stop --</option>
              <option
                *ngFor="let busStop of busStops | onlyuppercase | norepeats"
                [value]="busStop.id"
              >
                {{ busStop.name | titlecase }}
              </option>
            </select>
          </div>
        </div>
        <a (click)="onSubmit()">
          <img
            src="https://img.icons8.com/bubbles/256/checked-checkbox.png"
            alt="Icon of settings"
            width="75px"
          />
        </a>
      </form>
    </div>
  </div>
</div>

