<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="defaultBusStopForm" (ngSubmit)="(onSubmit)">
        <div id="user-data">
          <div class="form-group">
            <label for="defaultBusStop" class="defaultBusStop"
              >Please, choose your <br />default bus stop from the list:</label
            >
            <select
              class="form-control"
              formControlName="defaultBusStop"
              size="5"
            >
              <option
                *ngFor="let busStop of busStops | onlyuppercase | norepeats"
                [value]="busStop.id"
              >
                {{ busStop.name | titlecase }}
              </option>
            </select>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="defaultBusStopForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

