h4 {
  color: #222831;
}
img {
  filter: invert(33%) sepia(77%) saturate(1642%) hue-rotate(335deg)
    brightness(112%) contrast(87%);
  height: 50px;
}
img:hover {
  transform: rotate(90deg);
}
div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
