<div class="card">
  <div class="card-body">
    <p class="heading"><strong>Selected character</strong></p>
    <p *ngIf="listOfCharacters[selectedCharacter].name">
      <strong>Name:</strong>
      {{ listOfCharacters[selectedCharacter].name }}
    </p>
    <p>
      <strong>Alias:</strong>
      {{ listOfCharacters[selectedCharacter].aliases }}
    </p>
    <p *ngIf="listOfCharacters[selectedCharacter].culture">
      <strong>Culture:</strong>
      {{ listOfCharacters[selectedCharacter].culture }}
    </p>
    <p>
      <strong>Gender:</strong> {{ listOfCharacters[selectedCharacter].gender }}
    </p>
  </div>
</div>
